* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#tabellone {
  width: 650px;
  margin-inline: auto;
  border-radius: 2rem;
  background-color: #93939329;
  border-color: black;
}

.cella {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255 255 255);
  line-height: 50px;
  margin: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  border-radius: 2rem;
}

.estratta {
  background-color: rgba(0, 255, 26, 0.386);
  font-weight: bold;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 255, 8, 0.298);
}

#cartellaGiocatore {
    width: 650px;
    margin-inline: auto;
    border-radius: 2rem;
    background-color: #93939329;
    border-color: black;
}

.Cartella {
    display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255 255 255);
  line-height: 50px;
  margin: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  border-radius: 2rem;
}